body{
  background-color:indigo;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color:black;
    position: fixed;
    top: 0px;
    

    
    
  }
  li {
    float: right;
  }
  li a {
    display: block;
    color: yellowgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration:burlywood;
    padding-right: 150px;
  }
  img{
    padding-left:550px ;
    padding-top: 100px;
  }
  
  
  
